<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.carsharing.server.mapper.DriverMapper">
	<resultMap id="BaseResultMap" type="com.carsharing.server.entity.Driver">
		<id column="user_no" property="userNo" jdbcType="VARCHAR" />
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="region" property="region" jdbcType="VARCHAR" />
		<result column="car_license" property="carLicense" jdbcType="VARCHAR" />
		<result column="user_license" property="userLicense" jdbcType="VARCHAR" />
		<result column="license_date" property="licenseDate" jdbcType="TIMESTAMP" />
		<result column="valid_date" property="validDate" jdbcType="TIMESTAMP" />
		<result column="car_no" property="carNo" jdbcType="VARCHAR" />
		<result column="color" property="color" jdbcType="VARCHAR" />
		<result column="brand" property="brand" jdbcType="VARCHAR" />
		<result column="model" property="model" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		user_no, user_name,region, car_license,user_license,license_date,valid_date, car_no,color,brand, model
	</sql>
	<select id="selectByUserNo" resultMap="BaseResultMap"
			parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from t_driver_info
		where user_no = #{id,jdbcType=VARCHAR}
	</select>
	<insert id="insertService" parameterType="com.carsharing.server.entity.Driver">
		insert into t_driver_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userNo != null">
				user_no,
			</if>
			<if test="userName != null">
				user_name,
			</if>
			<if test="Region != null">
				region,
			</if>
			<if test="carLicense != null">
				car_license,
			</if>
			<if test="userLicense != null">
				user_license,
			</if>
			<if test="licenseDate != null">
				license_date,
			</if>
			<if test="validDate != null">
				valid_date,
			</if>
			<if test="carNo != null">
				car_no,
			</if>
			<if test="color != null">
				color,
			</if>
			<if test="brand != null">
				brand,
			</if>
			<if test="model != null">
				model,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userNo != null">
				#{userNo,jdbcType=VARCHAR},
			</if>
			<if test="userName != null">
				#{userName,jdbcType=VARCHAR},
			</if>
			<if test="region != null">
				#{region,jdbcType=VARCHAR},
			</if>
			<if test="car_license != null">
				#{carLicense,jdbcType=VARCHAR},
			</if>
			<if test="user_license != null">
				#{userLicense,jdbcType=VARCHAR},
			</if>
			<if test="license_date != null">
				#{licenseDate,jdbcType=TIMESTAMP},
			</if>
			<if test="valid_date != null">
				#{validDate,jdbcType=TIMESTAMP},
			</if>

			<if test="car_no != null">
				#{carNo,jdbcType=VARCHAR},
			</if>
			<if test="color != null">
				#{color,jdbcType=VARCHAR},
			</if>
			<if test="brand != null">
				#{brand,jdbcType=VARCHAR},
			</if>
			<if test="model != null">
				#{model,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateService" parameterType="com.carsharing.server.entity.Driver">
		update t_driver_info
		<set>
			<if test="region != null">
				region = #{region,jdbcType=VARCHAR},
			</if>
			<if test="carLicense != null">
				car_license = #{carLicense,jdbcType=VARCHAR},
			</if>
			<if test="userLicense != null">
				user_license = #{userLicense,jdbcType=VARCHAR},
			</if>
			<if test="licenseDate != null">
				license_date = #{licenseDate,jdbcType=TIMESTAMP},
			</if>
			<if test="validDate != null">
				valid_date = #{validDate,jdbcType=TIMESTAMP},
			</if>
			<if test="carNo != null">
				car_no = #{carNo,jdbcType=VARCHAR},
			</if>
			<if test="color != null">
				color = #{color,jdbcType=VARCHAR},
			</if>
			<if test="brand != null">
				brand = #{brand,jdbcType=VARCHAR},
			</if>
			<if test="model != null">
				model = #{model,jdbcType=VARCHAR},
			</if>
		</set>
		where user_no = #{userNo,jdbcType=VARCHAR}
	</update>
	<!--<update id="updateByPrimaryKeySelective" parameterType="com.carsharing.server.entity.User">-->
		<!--update t_user-->
		<!--<set>-->
			<!--<if test="openid != null">-->
				<!--openid = #{openid,jdbcType=VARCHAR},-->
			<!--</if>-->
			<!--<if test="nickname != null">-->
				<!--nickname = #{nickname,jdbcType=VARCHAR},-->
			<!--</if>-->
			<!--<if test="headimgurl != null">-->
				<!--headimgurl = #{headimgurl,jdbcType=VARCHAR},-->
			<!--</if>-->
			<!--<if test="sex != null">-->
				<!--sex = #{sex,jdbcType=VARCHAR},-->
			<!--</if>-->
			<!--<if test="phone != null">-->
				<!--phone = #{phone,jdbcType=VARCHAR},-->
			<!--</if>-->
			<!--<if test="createTime != null">-->
				<!--create_time = #{createTime,jdbcType=TIMESTAMP},-->
			<!--</if>-->
			<!--<if test="state != null">-->
				<!--state = #{state,jdbcType=TINYINT},-->
			<!--</if>-->
			<!--<if test="updateTime != null">-->
				<!--update_time = #{updateTime,jdbcType=TIMESTAMP},-->
			<!--</if>-->
		<!--</set>-->
		<!--where user_id = #{userId,jdbcType=INTEGER}-->
	<!--</update>-->
	<!--<update id="updatePhone">-->
		<!--update t_user-->
		<!--set phone = #{phone,jdbcType=VARCHAR}-->
		<!--where openid = #{openid,jdbcType=VARCHAR}-->
	<!--</update>-->
	<!--&lt;!&ndash; 查询所有的前端用户 程序内部使用 &ndash;&gt;-->
	<!--<select id="getAllFrontUser" resultType="java.lang.String">-->
		<!--select-->
		<!--GROUP_CONCAT(user_id)-->
		<!--from t_user-->
		<!--where state= 1-->
	<!--</select>-->

</mapper>