<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.carsharing.server.mapper.RideRouteMapper">
    <resultMap id="BaseResultMap" type="com.carsharing.server.entity.RideRoute">
        <id column="route_id" property="routeId" jdbcType="INTEGER"/>
        <id column="user_no" property="userNo" jdbcType="VARCHAR"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="start_place" property="startPlace" jdbcType="VARCHAR"/>
        <result column="end_place" property="endPlace" jdbcType="VARCHAR"/>
        <result column="start_town" property="startTown" jdbcType="VARCHAR"/>
        <result column="end_town" property="endTown" jdbcType="VARCHAR"/>
        <result column="start_street" property="startStreet" jdbcType="VARCHAR"/>
        <result column="end_street" property="endStreet" jdbcType="VARCHAR"/>

        <result column="start_time" property="startTime" jdbcType="TIMESTAMP"/>
        <result column="take_count" property="takeCount" jdbcType="INTEGER"/>
        <result column="remain_count" property="remainCount" jdbcType="INTEGER"/>
        <result column="sex" property="sex" jdbcType="TINYINT"/>
        <result column="start_longitude" property="startLongitude" jdbcType="DOUBLE"/>
        <result column="start_latitude" property="startLatitude" jdbcType="DOUBLE"/>
        <result column="end_longitude" property="endLongitude" jdbcType="DOUBLE"/>
        <result column="end_latitude" property="endLatitude" jdbcType="DOUBLE"/>
        <result column="state" property="state" jdbcType="TINYINT"/>
        <result column="is_home" property="isHome" jdbcType="TINYINT"/>
        <result column="describe" property="describe" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        route_id, user_no,user_name, sex,start_place,start_town,start_street,end_place,wait_time, start_time,take_count,remain_count, start_longitude
        ,start_latitude,end_town,end_street,end_longitude,end_latitude, state,is_home,`describe`
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap"
            parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from t_route
        where route_id = #{id,jdbcType=INTEGER}
    </select>
    <select id="getNormalStateRideRoutes" resultMap="BaseResultMap"
            parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from t_route
        where state>2
    </select>
    <insert id="insertSelective" parameterType="com.carsharing.server.entity.RideRoute">
        insert into t_route
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userNo != null">
                user_no,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="startPlace != null">
                start_place,
            </if>
            <if test="endPlace != null">
                end_place,
            </if>
            <if test="startTime != null">
                start_time,
            </if>
            <if test="takeCount != null">
                take_count,
            </if>
            <if test="remainCount != null">
                remain_count,
            </if>
            <if test="waitTime != null">
                wait_time,
            </if>
            <if test="startArea != null">
                start_area,
            </if>
            <if test="startLongitude != null">
                start_longitude,
            </if>
            <if test="startLatitude != null">
                start_latitude,
            </if>
            <if test="startTown != null">
                start_town,
            </if>
            <if test="startStreet != null">
                start_street,
            </if>
            <if test="endTown != null">
                end_town,
            </if>
            <if test="endStreet != null">
                end_street,
            </if>
            <if test="endArea != null">
                end_area,
            </if>
            <if test="endLongitude != null">
                end_longitude,
            </if>
            <if test="endLatitude != null">
                end_latitude,
            </if>
            <if test="isHome != null">
                is_home,
            </if>
            <if test="describe != null">
                `describe`
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userNo != null">
                #{userNo,jdbcType=VARCHAR},
            </if>
            <if test="startPlace != null">
                #{startPlace,jdbcType=VARCHAR},
            </if>
            <if test="endPlace != null">
                #{endPlace,jdbcType=VARCHAR},
            </if>
            <if test="startTime != null">
                #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="takeCount != null">
                #{takeCount,jdbcType=INTEGER},
            </if>
            <if test="remainCount != null">
                #{remainCount,jdbcType=INTEGER},
            </if>
            <if test="waitTime != null">
                #{waitTime,jdbcType=INTEGER},
            </if>
            <if test="startArea != null">
                #{startArea,jdbcType=VARCHAR},
            </if>
            <if test="startLongitude != null">
                #{startLongitude,jdbcType=DOUBLE},
            </if>
            <if test="startLatitude != null">
                #{startLatitude,jdbcType=DOUBLE},
            </if>
            <if test="startTown != null">
                #{startTown,jdbcType=VARCHAR},
            </if>
            <if test="startStreet != null">
                #{startStreet,jdbcType=VARCHAR},
            </if>
            <if test="endTown != null">
                #{endTown,jdbcType=VARCHAR},
            </if>
            <if test="endStreet != null">
                #{endStreet,jdbcType=VARCHAR},
            </if>
            <if test="endArea != null">
                #{endArea,jdbcType=VARCHAR},
            </if>
            <if test="endLongitude != null">
                #{endLongitude,jdbcType=DOUBLE},
            </if>
            <if test="endLatitude != null">
                #{endLatitude,jdbcType=DOUBLE},
            </if>
            <if test="isHome != null">
                #{isHome,jdbcType=TINYINT},
            </if>
            <if test="describe != null">
                #{describe,jdbcType=VARCHAR}
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.carsharing.server.entity.RideRoute">
        update t_route
        <set>
            <if test="state != null">
                state = #{state,jdbcType=TINYINT},
            </if>
            <if test="takeCount != null">
                take_count = #{takeCount,jdbcType=INTEGER}
            </if>
        </set>
        where route_id = #{routeId,jdbcType=INTEGER}
    </update>
</mapper>