<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.carsharing.server.mapper.UserMapper">
	<resultMap id="BaseResultMap" type="com.carsharing.server.entity.User">
		<id column="user_no" property="userNo" jdbcType="VARCHAR" />
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="sex" property="sex" jdbcType="TINYINT" />
		<result column="birth" property="birth" jdbcType="DATE" />
		<result column="carpool_count" property="carpoolCount" jdbcType="TINYINT" />
		<result column="order_count" property="orderCount" jdbcType="TINYINT" />
		<result column="department" property="department" jdbcType="VARCHAR" />
		<result column="is_driver" property="isDriver" jdbcType="TINYINT" />
		<result column="mobile" property="mobile" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<!--<result column="state" property="state" jdbcType="TINYINT" />-->
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		user_no, user_name,password, sex,birth,carpool_count,order_count, department,is_driver,mobile, create_time
		,update_time
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from t_user
		where user_no = #{id,jdbcType=VARCHAR}
	</select>
	<!--<select id="getCountByPhone" resultType="java.lang.Integer">-->
		<!--select count(phone) from t_user where phone=#{phone}-->
	<!--</select>-->
	<!--<select id="getOneByOpenid" resultMap="BaseResultMap"-->
		<!--parameterType="java.lang.String">-->
		<!--select *-->
		<!--from t_user-->
		<!--where openid = #{openid,jdbcType=VARCHAR}-->
	<!--</select>-->
	<select id="getOneByPhone" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select *
		from t_user
		where mobile = #{mobile,jdbcType=VARCHAR}
	</select>
	<!--<select id="getUsersByPage" parameterType="java.lang.String"-->
		<!--resultMap="BaseResultMap">-->
		<!--select user_id,nickname,phone,create_time,update_time-->
		<!--from t_user-->
		<!--where user_id in (#{#userIds, jdbcType=VARCHAR})-->
		<!--order by create_time desc-->
	<!--</select>-->
	<insert id="insertSelective" parameterType="com.carsharing.server.entity.User">
		insert into t_user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userNo != null">
				user_no,
			</if>
			<if test="userName != null">
				user_name,
			</if>
			<if test="sex != null">
				sex,
			</if>
			<if test="mobile != null">
				mobile,
			</if>
			<if test="department != null">
				department,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userNo != null">
				#{userNo,jdbcType=VARCHAR},
			</if>
			<if test="userName != null">
				#{userName,jdbcType=VARCHAR},
			</if>
			<if test="sex != null">
				#{sex,jdbcType=TINYINT},
			</if>
			<if test="mobile != null">
				#{mobile,jdbcType=VARCHAR},
			</if>
			<if test="department != null">
				#{department,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.carsharing.server.entity.User">
		update t_user
		<set>
			<if test="mobile != null">
				mobile = #{mobile,jdbcType=VARCHAR},
			</if>
			<if test="department != null">
				department = #{department,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				password = #{password,jdbcType=VARCHAR},
			</if>
			<if test="sex != null">
				sex = #{sex,jdbcType=VARCHAR},
			</if>
			<if test="userName != null">
				user_name = #{userName,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where user_no = #{userNo,jdbcType=VARCHAR}
	</update>
	<!--<update id="updatePhone">-->
		<!--update t_user-->
		<!--set phone = #{phone,jdbcType=VARCHAR}-->
		<!--where openid = #{openid,jdbcType=VARCHAR}-->
	<!--</update>-->
	<!--&lt;!&ndash; 查询所有的前端用户 程序内部使用 &ndash;&gt;-->
	<!--<select id="getAllFrontUser" resultType="java.lang.String">-->
		<!--select-->
		<!--GROUP_CONCAT(user_id)-->
		<!--from t_user-->
		<!--where state= 1-->
	<!--</select>-->

</mapper>