@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?v6gotu');
  src:  url('fonts/icomoon.eot?v6gotu#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?v6gotu') format('truetype'),
    url('fonts/icomoon.woff?v6gotu') format('woff'),
    url('fonts/icomoon.svg?v6gotu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-del:before {
  content: "\e942";
  color: #d5d7e2;
}
.icon-start03:before {
  content: "\e943";
  color: #aeaeae;
}
.icon-shouji:before {
  content: "\e93e";
  color: #FE872B;
}
.icon-start01:before {
  content: "\e93f";
  color: #aeaeae;
}
.icon-start02:before {
  content: "\e940";
  color: #bebebe;
}
.icon-yanzhengma:before {
  content: "\e941";
  color: #FE872B;
}
.icon-telephone:before {
  content: "\e900";
  color: #00e089;
}
.icon-Stroke01:before {
  content: "\e901";
  color: #FE872B;
}
.icon-Stroke
{
  font-size: 30px;
}
.icon-Stroke .path1:before {
  content: "\e902";
  color: rgb(254, 135, 43);
  opacity: 0.1;
}
.icon-Stroke .path2:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(254, 135, 43);
}
.icon-Stroke .path3:before {
  content: "\e904";
  margin-left: -1em;
 color: rgb(254, 135, 43);
}
.icon-Selected:before {
  content: "\e905";
  color: #ff9f1b;
}
.icon-Search:before {
  content: "\e906";
  color: #bebebe;
}
.icon-return:before {
  content: "\e907";
  color: #fff;
}
.icon-ren .path1:before {
  content: "\e908";
  color: #FE872B;
}
.icon-ren .path2:before {
  content: "\e909";
  margin-left: -1.5em;
  color: #FE872B;
  opacity: 0.5;
}
.icon-Password03 .path1:before {
  content: "\e90a";
  color: rgb(254, 135, 43);
  opacity: 0.1;
}
.icon-Password03 .path2:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(254, 135, 43);
}
.icon-Password03 .path3:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-pass03:before {
  content: "\e90d";
  color: #FE872B;
}
.icon-pass02 .path1:before {
  content: "\e90e";
  color: rgb(254, 243, 233);
}
.icon-pass02 .path2:before {
  content: "\e90f";
  margin-left: -1em;
  color: #FE872B;
}
.icon-pass01
{
  font-size: 30px;
}
.icon-pass01 .path1:before {
  content: "\e910";
  color: rgb(254, 243, 233);
}
.icon-pass01 .path2:before {
  content: "\e911";
  margin-left: -1em;
  color: #FE872B;
}
.icon-pass01 .path3:before {
  content: "\e912";
  margin-left: -1em;
  color: #FE872B;
}
.icon-owner
{
  font-size: 30px;
} 
.icon-owner .path1:before {
  content: "\e913";
  color: #FE872B;
}
.icon-owner .path2:before {
  content: "\e914";
  margin-left: -1em;
  color: #FE872B;
  opacity: 0.1;
}
.icon-owner .path3:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(255, 180, 55);
}
.icon-owner .path4:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(255, 180, 55);
}
.icon-My-Order
{
  font-size: 30px;
}
.icon-My-Order .path1:before {
  content: "\e917";
  color: rgb(254, 243, 233);
}
.icon-My-Order .path2:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(255, 180, 55);
}
.icon-My-Order .path3:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(255, 180, 55);
}
.icon-mine:before {
  content: "\e91a";
  color: #FFFDFD;
}
.icon-Level-Down:before {
  content: "\e91b";
  color: #d5d7e2;
}
.icon-job-number:before {
  content: "\e91c";
  color: #FE872B;
}
.icon-Information02:before {
  content: "\e91d";
  color: #d5d7e2;
}
.icon-Information01:before {
  content: "\e91e";
  color: #FFFDFD;
}
.icon-icon-yaoqing .path1:before {
  content: "\e91f";
  color: rgb(0, 0, 0);
}
.icon-icon-yaoqing .path2:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(254, 243, 233);
}
.icon-home:before {
  content: "\e921";
  color: #FE872B;
}
.icon-Guide {
  font-size: 30px;
}

.icon-Guide .path1:before {
  content: "\e922";
  color: #FE872B;
}
.icon-Guide .path2:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(255, 246, 235);
}
.icon-Guide .path3:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Guide .path4:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(254, 135, 43);
}
.icon-Guide .path5:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(254, 135, 43);
}
.icon-Guide .path6:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(254, 135, 43);
}
.icon-Guide .path7:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(254, 135, 43);
}
.icon-Guide .path8:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(254, 135, 43);
}
.icon-Guide .path9:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(254, 135, 43);
}
.icon-Guide .path10:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(255, 246, 235);
}
.icon-grade
{
  font-size: 30px;
}
.icon-grade .path1:before {
  content: "\e92c";
  color: rgb(254, 243, 233);
}
.icon-grade .path2:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(254, 135, 43);
}
.icon-grade .path3:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-grade .path4:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-grade .path5:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(254, 135, 43);
}
.icon-girl:before {
  content: "\e931";
  color: #ff6e61;
}
.icon-Friends{
  font-size: 30px;
}
.icon-Friends .path1:before {
  content: "\e932";
   color: rgb(254, 135, 43);
}
.icon-Friends .path2:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(254, 135, 43);
  opacity: 0.1;
}
.icon-Friends .path3:before {
  content: "\e934";
  margin-left: -1em;
  color: none;
}
.icon-Filter:before {
  content: "\e935";
  color: #bebebe;
}
.icon-Feedback
{
  font-size: 30px;
}
.icon-Feedback .path1:before {
  content: "\e936";
  color: #FE872B;
}
.icon-Feedback .path2:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(254, 243, 233);
}
.icon-date:before {
  content: "\e938";
  color: #FE872B;
}
.icon-Countdown:before {
  content: "\e939";
  color: #FE872B;
}
.icon-corporation:before {
  content: "\e93a";
  color: #FE872B;
}
.icon-close:before {
  content: "\e93b";
  color: #FDFDFD;
}
.icon-boy:before {
  content: "\e93c";
  color: #37d0ff;
}
.icon-add:before {
  content: "\e93d";
  color: #bebebe;
}
