.status-wrapper  {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0 1%;
    background: #F4F4F4;
}
.tab-wrapper .await-text {
    color: #fff;
}
.await-cancel {
    color: #fff;
}

.status-wrapper .order-wrapper {
    position: relative;
    height: auto;
    margin-top: 54px;
    padding: 10px;
    background: #fff;
    box-shadow: 0 2px 4px 0 #E2E3E5;
}

.order-wrapper .order-details {
    position: relative;
    background: #fff;
    text-align: left;
    font-size: 14px;
    color: #747579;
    line-height: 30px;
}
.order-details .route-price {
    font-size: 10px;
    color: #A5A6AE;
    float: right;
}

.order-wrapper .await-notice {
    position: relative;
    width: 100%;
    height: auto;
    padding: 20px 0px;
    text-align: left;
    border-top: 1px solid rgba(213,215,226,0.20);;
}
.icon-location {
    padding: 0px 10px;
}
.order-wrapper .await-notice > a{
    font-size: 14px;
    color: #FE872B;
        padding-left: 3em;
}

.cancle-order-hint {
    float: right;
    font-size: 16px;
    color: #333;
    margin-top: 60px;
}