.wrapper-login #form-login {
    overflow: auto;
    font-size: 12px;
}

.wrapper-login .logo-area {
    position: absolute;
    width: 100%;
    height: 25%;
}
.logo-area .login-logo {
    text-align: center; 
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.login-logo .logo-style {
    background: #1B6CFF;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    opacity: .1;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -10%);
}

.login-logo .title {
    font-size: 14px;
    position: relative;
    color: #FE8A2C;
}
#form-login .form-group {
    width: 80%;
    height: 40px;
    position: relative;
    left: 10%;
    padding-bottom: 10%;
    overflow: hidden;
}
.form-group .form-input {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 1px solid #D5D7E2;
    box-sizing: border-box;
    text-indent: 30px;
    outline:none;
}
.form-group > .form-icon {
    position: absolute;
    line-height: 40px;
    padding-left: 10px;
    color: #FE872B;
}
.margin-left-icon {
    margin-left: -50%; 
}
.form-group .code-input {
    width: 50%;
    height: 100%;
    border: 0;
    text-indent: 30px;
    outline: none;
    float: left;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.form-group .get-code {
    width: 50%;
    height: 100%;
    float: right;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.get-code > a {
    font-size: 14px;
    color: #FF9F1B;
    height: 100%;
    line-height: 40px;
}
#form-login .checkbox {
    width: 50%;
    height: auto;
    padding-bottom: 10%;
    padding-left: 50%; 
}
.checkbox .title {
    margin-left: 10px;
    font-size: 14px;
}

#form-login .login-btn {
    width: 54%;
    position: relative;
    background-color:#FE8A2C; 
    color: #fff;
    border-radius:20px;
    box-shadow: 0 2px 5px 0 rgba(254,144,45,0.68); 
}

.change-login-style{
    margin-top: 10%;
    color: #FE8A2C; 
    font-size: 14px;
}
.change-login-style > a,
.change-login-style > a:focus,
.change-login-style > a:hover,
.change-login-style > a:active {
    color: #FE8A2C; 
}
.new-driver {
    margin-top: 10%;
    color: #FE8A2C;
    font-size: 14px;
    box-sizing: border-box;
}
.login-switch-area {
    width: 100%;
    height: 75%;
    position: absolute;
    bottom: 0px;
    padding: 10px;
    box-sizing: border-box;
}