.infolist
{ 
    background-color: #fff;
    margin: 5px;
}
.infolist .icon
{
    width: 56px;
    height: 115px;
    display: inline-block;
}

.infolist .info-content
{
    display: inline-block;
}
.info-content .title
{
  text-align: left;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 6px;
}
.title  .title-icon
{
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #FF6E61;
    border-radius: 5px;
    margin-right: 5px;
}
.info-content .info-text
{
    text-align: left;
    width: 294px;
}
.info-content .info-time
{
    text-align: right;
}

//信息详情界面
.details
{
    margin: 20px;
}

.details .title
{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333333;
}
.details .title2
{
    text-align: right;
    font-size: 10px;
    margin-bottom: 18px;
    color: #A5A6AE;

}
.details .details-content
{
    font-size: 12px;
    text-align: left;
    color: #747579;
}