* {
  margin: 0;
  padding: 0;
}

html body {
  width: 100%;
  height: 100%;
}

h1,
ul {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
textarea{ 
    resize:none 
} 
#app {
  font-family: PingFangSC-Regular, 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  font-size: 16px;
  -webkit-tap-highlight-color: transparent;
  position: absolute;
  width: 100%;
  height: 100%
}

//全局主题颜色
.linear-gradient-bg {
   background: linear-gradient(58deg, #FFB437 0%, #FE872B 100%);
  background: -webkit-linear-gradient(58deg, #FFB437 0%, #FE872B 100%);
  background: -o-linear-gradient(58deg, #FFB437 0%, #FE872B 100%);
  background: -moz-linear-gradient(58deg, #FFB437 0%, #FE872B 100%);
  box-shadow: 0 2px 5px 0 rgba(254, 144, 45, 0.68);
}

.border-bottom-1px:after,
.border-bottom-1px:before,
.border-left-1px:after,
.border-left-1px:before,
.border-right-1px:after,
.border-right-1px:before,
.border-top-1px:after,
.border-top-1px:before {
  content: "";
  display: block;
  position: absolute;
  transform-origin: 0 0;
}

.clearfix {
  *zoom: 1;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}


/**
*修改 mint-ui组件样式
*/

//修改popup picker组件样式
.mint-popup {  
    width: 100%;
    height: 40%;  
}
.mint-popup .picker-toolbar {
  border-bottom: 1px solid #D5D7E2;
  height: 50px !important;
} 
.picker {
  height: 100% !important;
}
.picker .picker-items {
  height: 100% !important;
}
.picker-center-highlight {
  top: 27% !important; 
}
.mint-popup .picker-slot-wrapper, 
.page-popup .mint-popup .picker-item {  
    backface-visibility: hidden;
    -webkit-backface-visibility:hidden;  
} 
.picker-center-highlight {
  margin-top: 0 !important;
}
.picker-item.picker-selected {
  font-size: 22px !important;
  font-weight: 500;
}

//修改Index List 组件样式
.mint-indexsection-index{
    font-size: 14px;
    color: #333333;
    letter-spacing: -0.35px;
}
.mint-cell-text {
    font-size: 14px;
    color: #747579;
    letter-spacing: -0.35px;
}
.mint-indexlist-navitem {
    font-family: PingFangSC-Regular;
    font-size: 10px;
    color: #333333;
    letter-spacing: 0;
    line-height: 16px;
}

//沙漏旋转
.timerWrap {
  position: absolute;
  animation: timerRotate 1s infinite ease;
}
@keyframes timerRotate {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(-180deg);
  }
}

//改写Message box 的样式
.mint-msgbox {
  border-radius: 12px !important;
}
.mint-msgbox-header {
  padding: 40px 0 0 !important;
}
.mint-msgbox-content {
  padding: 20px !important;
}
.mint-msgbox-message {
  width: 50% !important;
  float: left;
}
.mint-msgbox-input {
  width: 20%;
  padding-top: 0 !important;
  display: inline-block;
}
.star div{
 display: inline-block;
 margin: 5px;
}